.NavbarIndex {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.NavbarIndex a {
    color: white;
    display: block;
    width: 25%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-out 100ms, color 0.3s ease-out 100ms;
}

.NavbarIndex a:hover {
    background-color: white;
    color: black;
}

div .selected {
    color: black;
    background-color: white;
}